<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>

<body class="add-form">
	<header th:replace="fragments/base.html :: navbar(page='artisti')"></header>
	
	<section>
	<div class="form-container">
		<form th:action="@{/esamiPerMedico}">
			<div class="form-line titolo-form" th:text="#{cercaMedico.title}">CERCA MEDICO</div>
			<div class="form-line">
				<label for="nome" th:text="#{form.nome}">NOME </label>
				<input id="nome" type="text" name="nome">
			</div>	
			<div class="form-line">
				<label for="cognome" th:text="#{form.cognome}">COGNOME </label>
				<input id="cognome" type="text" name="cognome">
			</div>	
			<div class="form-line">
				<input type="submit" value="Cerca"></button>
			</div>
		</form>
	</div>
	</section>
</body>
</html>