<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title th:text="${title}"></title>
</head>

<body>
  	<header th:fragment="navbar(page)">
		<div class="navbar">
			<span id="logo"><a th:href="@{/}">MedCenter</a></span>
		  	<span><a class="anchor-item" th:href="@{/login}">Login</a></span>
		</div>
  	</header>
</body>
</html>