<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>

<body class="add-form">
	<form th:action="@{/addTipo}" th:object="${tipo}" method="POST">
		<div class="form-line titolo-form" th:text="#{tipoForm.title}">TITOLO</div>
		<div class="form-line">
			<label for="nome" th:text="#{tipoForm.nome}">Tipo Esame: </label>
			<input id="nome" type="text" th:field="*{nome}">
			
		</div>
		<div class="form-line">
			<label for="descrizione" th:text="#{tipoForm.descrizione}">Descrizione: </label>
			<textarea id="descrizione" type="text" rows="5" th:field="*{descrizione}"></textarea>
			
		</div>
		<div class="form-line">
			<label for="prezzo" th:text="#{tipoForm.costo}">Prezzo: </label>
			<input id="prezzo" type="text" name="prezzo">
			
		</div>
		<div class="form-line">
			<label for="indicatori" th:text="#{tipoForm.indicatori}">Indicatori: </label>
			<input id="indicatori" type="text" th:field="*{indicatori}">
		</div>

		<div class="form-line">
			<label for="prerequisiti" th:text="#{tipoForm.prerequisiti}">Prerequisiti: </label>
			<input id="prerequisiti" type="text" th:field="*{prerequisiti}">
		</div>

		<div class="form-line">
			<input type="submit" value="Inserisci"></button>
		</div>
	</form>
</body>
</html>