<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar(page='')"></header>
	
	<main>
		<div class="form-container">
			<form th:action="@{/login}" method="POST">
				
				<div class="form-line titolo-form" th:text="#{login.title}">TITOLO</div>

				<div class="form-line">
					<label for="username" th:text="#{form.username}">Username: </label>
					<input id="username" type="text" name="username">	
				</div>
		
				<div class="form-line">
					<label for="password" th:text="#{form.password}">Password: </label>
					<input id="password" type="password" name="password">	
				</div>
				
				<div class="form-line">
					<input type="submit" value="LOGIN"></button>
				</div>
		
				<div class="form-line">
					<a th:href="@{/register}">Non ti sei ancora registrato? Registrati</a>
				</div>
			</form>
		</div>
	</main>
	
</body>
</html>