<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar(page='artisti')"></header>
	
	<div class="center-container" th:object="${tipo}" sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">
		<div class="white-container">
			<span id="nome-tipo" th:text="*{nome}"></span>
			<table>			
				<tr>
					<td>Descrizione</td>
					<td th:text="*{descrizione}"></td>
				</tr>
				<tr>
					<td>Prezzo</td>
					<td th:text="|*{prezzo} euro|"></td>
				</tr>
				<tr>
					<td>Indicatori</td>
					<td th:text="*{indicatori}"></td>
				</tr>
				<tr>
					<td>Prerequisiti</td>
					<td th:text="*{prerequisiti}"></td>
				</tr>
			</table>
			
			<div class="buttons">
				<div class="edit-button"><a th:href="@{/editTipo/{id} (id=*{id})}">MODIFICA</a></div>
				<div class="delete-button"><a th:href="@{/deleteTipo/{id} (id=*{id})}">ELIMINA</a></div>
			</div>
		</div>
	</div>
	
	
	
	
	<div class="center-container" th:object="${tipo}" sec:authorize="!isAuthenticated() or hasAuthority('DEFAULT')">
		<div class="white-container">
			<span id="nome-tipo" th:text="*{nome}"></span>
			<table>			
				<tr>
					<td>Descrizione</td>
					<td th:text="*{descrizione}"></td>
				</tr>
				<tr>
					<td>Prezzo</td>
					<td th:text="|*{prezzo} euro|"></td>
				</tr>
				<tr>
					<td>Indicatori</td>
					<td th:text="*{indicatori}"></td>
				</tr>
				<tr>
					<td>Prerequisiti</td>
					<td th:text="*{prerequisiti}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>